*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
    background-image: url('../img/pattern.png');
    background-color: blue;
    background-size: contain;
}
header img{
    width: 15%;
    padding-top: 3%;
    padding-left: 30px;
}

.scrittore{
    color: blueviolet;
}

.evidenziato{
    background-color: yellow;;
}

ul{
    margin-left:1%;
}

table{
    border-spacing: 0;
    text-align: center;
}

thead{
    background-color: green;
}

.riga{
    background-color: aqua;
}